footer{ 
    background-color: rgba(39, 39, 43, 1);
    border-top: 5px solid #ffffff;
}
.flex-container {display:flex;
                 flex-direction: row;
                 gap: 300px;
                  }

.footer-text{color:#fff;
            display:flex;
            gap: 100px;}

.footer-logo{color:#fff;
              margin-top: 70px;
            }