.footer{ background: color #000;}
.flex-container {display:flex;
                 flex-direction: row;
                 gap: 300px;
                  }

.footer-text{color:#fff;
            display:flex;
            gap: 100px;}

.footer-logo{color:#fff;
              margin-top: 70px;
            }